{% set server = salt['grains.filter_by']({
    'Debian': {

    },
    'RedHat': {

    },
}, merge=pillar.avinetworks.get('server', {})) %}


{% set client = salt['grains.filter_by']({
    'Debian': {

    },
    'RedHat': {

    },
}, merge=pillar.avinetworks.get('client', {})) %}
