Source: salt-formula-avinetworks
Maintainer: Salt Formulas Community <salt-formulas@freelists.org>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: https://github.com/salt-formulas/salt-formulas
Vcs-Browser: https://github.com/salt-formulas/salt-formula-avinetworks
Vcs-Git: https://github.com/salt-formulas/salt-formula-avinetworks.git

Package: salt-formula-avinetworks
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Avinetworks salt formula
 Configure Linux operating system.
